.root,
body,
html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    background-color: #f7f7f8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    line-height: 1.5;
}

p, a, h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

main {
    display: flex;
}
